@charset "utf-8";
/* CSS Document */

/*
 * margin : 设置所有外边距属性
 * 
 * 4:上、右、下、左
 * 3:上、右左、下
 * 2:上下、右左
 * 1:上右下左 * 
 */

* {
	/*background-color: orange;*/	/*test*/
	margin: 0px auto;	/*自身居中*/
	padding: 0px;		/*内边距*/
	text-align: center; /*子内容居中*/
	font-family: 'Lato', sans-serif;	
}

/*颜色渐变*/
.cont_principal {
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(-45deg,  #aac4bc 0%,#eca8a8 100%,#eed5a9 100%);
	background: -moz-linear-gradient(-45deg,  #aac4bc 0%,#eca8a8 100%,#eed5a9 100%);
	background: linear-gradient(135deg, #aac4bc 0%,#eca8a8 100%,#eed5a9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfd8dc', endColorstr='#b0bec5',GradientType=1);/* IE6-9 fallback on horizontal gradient */
}

.cont_center {
	/*background-color: red;*/	/*test*/
	position: relative;
	float: left;			/*指定一个盒子（元素）是否应该浮动(注:绝对定位的元素忽略float属性)*/
	width: 100%;
}

.cont_login {
	/*background-color: blue;*/	/*test*/
	position: relative;
	width: 640px;
	left: 50%;
	margin-left: -320px;
} 

/*登录|注册的背景*/
.cont_info_log_sign_up {
	/*background-color: white;*/	/*test*/
	position: absolute;
	width: 640px;
	height: 280px;
	top: 100px;
	z-index: 1;
}

/*登录板块(文字与按钮)*/
.col_md_login {
	/*background-color: green;*/	/*test*/
	position: relative;
	float: left;
	width: 50%;
}
.cont_ba_opcitiy {
	background-color: rgba(187, 168, 170, 0.79);
	position: relative;
	width: 80%;
	margin-top: 60px;
	padding: 15px 0px;
	border-radius: 3px;
}

.btn_login {
	background-color: #FF9850;
	border: none;
	padding: 10px;
	width: 200px;
	color: white;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
	margin-top: 10px;
	cursor: pointer;
}

/*****************************/
/*注册板块(文字与按钮)*/
.col_md_sign_up {
	/*background-color: yellow;*/	/*test*/
	position: relative;
	float: left;
	width: 50%;
}
.btn_sign {
	background-color: #f44336;
	border: none;
	padding: 10px;
	width: 200px;
	color: white;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
	margin-top: 10px;
	cursor: pointer;
}

/*选中之后的变化*/
.cont_ba_opcitiy button:hover {
	color: yellow;				/*选中后字体颜色为蓝色*/
	font-size: 21px;
	border: 1px solid yellow;
}

.cont_back_info {
	position: relative;
	float: left;
	width: 640px;
	height: 280px;
	overflow: hidden;
	background-color: #fff;
	margin-top: 100px;
	box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

.cont_img_back_grey {
	position: absolute;
	width: 950px;
	top: -80px;
	left: -116px;
}

/*左半侧白板*/
.cont_forms {
	position: absolute;
	overflow: hidden;
	width: 320px;
	height: 280px;
	top: 100px;
	background-color: #eee;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

/*第二张图片模块*/
.cont_img_back {
	background-color: black;
	position: absolute;
	width: 950px;
	top: -80px;
	left: -116px;
}

/*确认登录按钮模块*/
.cont_form_login {
	/*background-color: black;*/	/*test*/
	position: absolute;
	width: 320px;
	display: none;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

/*确认注册*/
.cont_form_sign_up {
	position: absolute;
	width: 320px;
	float: left;
	opacity: 0;
	display: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_forms_active_login {
	height: 420px;
	left: 0px;
	top: 20px;
	box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_forms_active_sign_up {
	height: 420px;
	left: 320px;
	top: 20px;
	box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}


/*
.cont_forms {
  	position: absolute;
  	overflow: hidden;
  	top:100px;
	left: 0px;
  	width: 320px;
  	height: 280px;
  	background-color: #eee;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_forms_active_login {
	box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
  	height: 420px;  
	top:20px;
	left: 0px;
  	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_forms_active_sign_up {
	box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
  	height: 420px;  
	top:20px;
	left:320px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_img_back_grey > img {
  	width: 100%;
 	-webkit-filter: grayscale(100%);     
 	filter: grayscale(100%);
	opacity: 0.2;
	animation-name: animar_fondo;
  	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.cont_img_back_ {
  	position: absolute;
  	width: 950px;
	top:-80px;
  	left: -116px;
}

.cont_img_back_ > img {
  	width: 100%;
	opacity: 0.3;
	animation-name: animar_fondo;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.cont_forms_active_login > .cont_img_back_ {
	top:0px;  
  	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_forms_active_sign_up > .cont_img_back_ {
	top:0px;  
	left: -435px;
  	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
 

.cont_info_log_sign_up {
	position: absolute;
 	width: 640px;
  	height: 280px;
  	top: 100px;
	z-index: 1;
} 

.col_md_login {
  	position: relative;
  	float: left;
  	width: 50%;
}

.col_md_login > h2 {
  	font-weight: 400;
	margin-top: 70px;
    color: #757575;
}

.col_md_login > p {
 	font-weight: 400;
	margin-top: 15px;
	width: 80%;
    color: #37474F;
}

.btn_login { 
	background-color: #FF9800;
  	border: none;
  	padding: 10px;
	width: 200px;
	border-radius:3px;
	box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}

.cont_ba_opcitiy > h2 {
  	font-weight: 400;
  	color: #fff;
}

.cont_ba_opcitiy > p {
 font-weight: 400;
margin-top: 15px;
 color: #fff;
}

.cont_forms_active_sign_up {
	z-index: 2;  
}

@-webkit-keyframes animar_fondo {
	
  from { 
  	-webkit-transform: scale(1) translate(0px);
	-moz-transform: scale(1) translate(0px);
	-ms-transform: scale(1) translate(0px);
	-o-transform: scale(1) translate(0px);
	transform: scale(1) translate(0px); 
	}

  to { 
  	-webkit-transform: scale(1.5) translate(50px);
	-moz-transform: scale(1.5) translate(50px);
	-ms-transform: scale(1.5) translate(50px);
	-o-transform: scale(1.5) translate(50px);
	transform: scale(1.5) translate(50px); 
	}
}

@-o-keyframes identifier {
	
  from { 
  	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1); 
	}

  to { 
  	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5); 
	}
}

@-moz-keyframes identifier {
	
  from { 
  	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1); 
	}

  to { 
  	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5); 
	}
}

@keyframes identifier {
  from {
  	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1); 
	}
	
  to { -webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5); 
	}
}

.cont_form_login {
  	position: absolute;
  	opacity: 0;
	display: none;
  	width: 320px;
  	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_forms_active_login {
	z-index: 2;  
}

.cont_forms_active_login  >.cont_form_login {
}

.cont_form_sign_up {
  	position: absolute;
  	width: 320px;
	float: left;
  	opacity: 0;
	display: none;
  	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_form_sign_up > input {
	text-align: left;
  	padding: 15px 5px;
	margin-left: 10px;
	margin-top: 20px;
  	width: 260px;
	border: none;
    color: #757575;
}

.cont_form_sign_up > h2 {
	margin-top: 50px; 
	font-weight: 400;
  	color: #757575;
}

.cont_form_login > input {
  	padding: 15px 5px;
	margin-left: 10px;
	margin-top: 20px;
  	width: 260px;
	border: none;
	text-align: left;
  	color: #757575;
}

.cont_form_login > h2 {
	margin-top: 110px; 
	font-weight: 400;
  	color: #757575;
}

.cont_form_login > a,.cont_form_sign_up > a  {
  color: #757575;
    position: relative;
    float: left;
    margin: 10px;
	margin-left: 30px;
}*/